@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@200;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0c6ed4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter Tight', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: var(--primary-color);
  font-size: 1rem;
}

a:hover {
  color: #000;
}

ul {
  margin-left: 0;
  padding-left: 0;
  font-family: 'Source Code Pro', monospace;
}

.heading {
  font-size: 40px;
}

.banner-pera {
  font-size: 18px;
  color: #4b5a82;
  line-height: 20px;
  text-align: left;
}

.container {
  max-width: 1300px;
  width: 100%;
}

.navbar__main {
  padding: 20px 0 20px 0;
  margin: auto;
}

.navbar_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_link {
  display: flex;
  gap: 2.1rem;
  align-items: center;
}

.link {
  display: flex;
  gap: 1.9rem;
}

.main_title {
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0em;
}

.banner_inner {
  padding-top: 65px;
  padding-bottom: 65px;
}

.banner_btn {
  background: var(--primary-color);
  color: #fff;
  font-size: 16px;
  padding: 16px;
  border-radius: 8px 45px 45px 8px;
  border: none;
  width: 150px;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
}